
{% extends "base.html" %}
{%block contenido%}
{% load static %}   
<div class="px-4 py-5 my-5 text-center">
    
    <img class="d-block mx-auto mb-4" src="{% static '/img/turno.png' %}" alt="" width="82" height="67">
    <h1 class="display-6 fw-bold text-body-emphasis">Ingrese los datos</h1>
    <div class=" text-start">
        <div class="container col- col-md-3 border p-3">
            <form  method= "POST" action="">{% csrf_token %}
                {{form.as_p}}
                <div class=" text-end">
                <input type="submit" class="btn btn-primary" value="Guardar">
                <div class=" text-start">
            </from>
          </div>
          
    </div>
</div>
{%endblock%}
